.dialogs{
display: grid;
grid-template-columns: 2fr 10fr;
}
.dialogsItems{
padding: 10px;
}
.dialogsItems a{
color: blue;
text-decoration: none;
}
.dialogsItems .active{
color: violet;

}
.messages{
padding: 10px;
padding-right: 200px;
}
.messages.message{
padding: 10px;
}
img {
    width: 20px;
    border-radius: 20px;
    padding: 2px;
}